
.container{
    padding-top: 40px;
    padding-bottom: 50px;
}
.logo{
    width: 33%;
    height: auto;
}
.sign-btn{
    width: 150px;
}
.head-sec{
    background: #f0fff0;
}
.sign-btn{
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 20px;
  
}
.started-btn{
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}
.cardset{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 100%;
    background: #f0fff0;
    border-radius: 20px;
}
.cardset:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
  }
  .test-img{
      width: 50%;
      height: auto;
  }
  .footer{
      background-color: black;
      color:white;
  }
  .card-footer{
      background: none;
  }
  .card-img-top{
      max-width: 80px;
      margin: 0 auto;
      max-height: 122px;
      padding-top:40px ;
  }
  .card-body{
      text-align:center;  
  }
  .card-body-mid{
      text-align: left;
  }
  .card-img-mid{
    max-width: 90%;
    height: auto;
    margin:auto;
    padding-top:20px ;
  }
  .card-deck{
      padding-top: 40px;
  }
   .container img {
    margin: auto;
    float: none;
    display: block;
}
.section-padding{
padding: 63px 0;
}
footer p footer li{
    color: white;
}
